{% extends 'layout.html' %}
{% block body %}

<div class="container-fluid">
    <div class="container">
<div class="row">
<div class="card">
    <div class="card-body text-center">
        <div class="row">
            <div class="col text-center">
                <h1 class="card-title">About</h1>
            </div>
            
        </div>
        <div class="row">
            <p>
                Swinvest is an online platform for trading assistance and research automation, 
                committed to providing investors with industry standard analysis of data, as well as stock projections and risk evaluations. 
            </p>
            <p>
                We also provide a live news feed which scrapes the web for the most relevant news, 
                to give investors an understanding of a market. 
            </p>
            <p>
                Swinvest was created with the intention of helping new traders, allowing them to 
                explore the stock market and get an insight into the world of investments. While the site is newbie friendly, it is industry standard, utilizing machine learning algorithms to project stock closing prices, as well as assess the risk of investment. We aim to be a tool to all users, regardless of background.
            </p>
        </div>
    </div>
    
</div>

</div>
        <div class="row">
            <div class="col-12 mt-4">
                
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top img-fluid" 
                        src="https://images.unsplash.com/photo-1543286386-2e659306cd6c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Data Projection</h4>
                            <p class="card-text">Swinvest used high class machine learning statistical algorithms 
                                to forecast stock prices. Large volumes of data are taken into account to produce a forecasted closing price model.</p>
                            <p class="card-text"><small class="text-muted">Swinvest | Data Projection</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" 
                        src="https://images.unsplash.com/photo-1478940020726-e9e191651f1a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Live News Feed</h4>
                            <p class="card-text">Swinvest takes a scrape of the top news sources to produce a live 
                                news feed. Choose what news you want to read and order your priorities.</p>
                            <p class="card-text"><small class="text-muted">Swinvest | Live News Feed</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" 
                        src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Risk Evaluation</h4>
                            <p class="card-text">Statistical Distributions are calculated and rated to provide 
                                you different probabilities of return from an investment.</p>
                            <p class="card-text"><small class="text-muted">Swinvest | Risk Evaluation</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contact</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <p>Email</p>
                        </div>
                        <div class="col-md-6">
                            <a href="mailto: support@swinvest.co.uk">Support@Swinvest.co.uk</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
