<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Swinvest | {{pageName}}</title> <!--Dynamic Tab Title-->
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'dist/css/style.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url({{ url_for('static', filename = 'assets/images/big/auth-bg.jpg') }}) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url({{ url_for('static', filename = 'assets/images/login-sign.jpg') }});">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <h2 style="font-family: 'Merriweather', serif; letter-spacing: 0.5vh;">SWINVEST</h2>
                        </div>
                        <div class="error">
                            
                            <!--Triggeres Error Message-->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, msg in messages %}
                                        {% if category == 'sign-in-danger' %}
                                            <h5 style="background-color: red; color: white; padding: 2vh; border-radius: 25px;" class="text-center">{{msg}}</h5>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            
                        </div>

                        <!-- Sign In HTML Input-->
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <p class="text-center">Enter your email address and password to access your dashboard.</p>
                        <form class="mt-4" method="POST" action=""> <!--Beginning of Form-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <!-- Username Input-->
                                        <label class="text-dark required" for="uname">Username</label>
                                        <input class="form-control" id="uname" type="email"
                                            placeholder="enter your username" name="username" >
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <!--Password Input-->
                                        <label class="text-dark required" for="pwd"/>Password</label>
                                        <input class="form-control" id="pwd" type="password"
                                            placeholder="enter your password" name="password" >
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark" name="signIn" value="activated">Sign In</button>
                                </div>
                                <!--Link to redirect user to sign up if they don't have an account-->
                                <div class="col-lg-12 text-center mt-5">
                                    Don't have an account? <a href="/sign-up" class="text-danger">Sign Up</a>
                                </div>
                            </div>
                            <!--End of Form-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{{ url_for('static', filename = 'assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
    </script>
    
</body>

</html>